body {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
button {
    font-size: 18px;
    border-radius: 10px 10px;
}
button:hover, a:hover {
    cursor: pointer;
}
button:active {
    transform: translateY(4px);
}
input, select {
    font-size: 16px;
    padding: 5px 5px;
    spellcheck="false";
    autocomplete = "off";
}
.error {
    color: red;
    font-size: 13px;
    display: none;
}
.navigation-bar {
    text-align: center;
}
.header-button {
    font-size: 20px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: solid 2px;
    padding: 1px;
    margin-right: 5px;
}
.get-started {
    border-radius: 20px 20px;
    background-color: lightgrey;
    font-weight: bold;
    border-bottom: solid black 4px;
    border-right: solid black 4px;
    border-top: solid grey 4px;
    border-left: solid grey 4px;
    padding: 4px;
}
.get-started:active {
    border-bottom: solid grey 4px;
    border-right: solid grey 4px;
    border-top: solid black 4px;
    border-left: solid black 4px;
}
.section {
    width: 80%;
    min-width: 400px;
    margin: auto;
    position: relative;
}
.faq-title {
    text-align: center;
}
.faq {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid grey;
}
